img{
	width:40%;
	border-radius:50%;
	margin-left: 78px;
}	


a:link { color: #00f; }
a:visited { color: #009; }
a:hover { color: #06f; }
a:active { color: #0cf; }

h1 {
	margin-left: 78px;
	border-style: solid;
    border-color: white;
}

div> hr{
	color: #000000;
	background-color: #000000;
	height: 4px;
}

.wrapper {
	background-color: white;
	display: grid;
	grid-template-columns: 10rem 5rem 10rem;
  	grid-template-rows: auto 1fr auto;
	grid-template-areas:
		"header 	header 		header 	header"
		"sidebar 	sidebar 	main 	main"
		"sidebar	sidebar 	main	main";
	max-width: 1070px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #ccc;
	@media (max-width: 36rem) {
		display: flex;
		flex-direction: column;
	}
}

.header {
	background-color: #A9A9A9;
	color: #FFFFFF;
	text-align: center;
	grid-area: header;
	padding: 4rem;
	border-bottom: 1px solid #ccc;
	@media (max-width: 36rem) {
		order: 1;
	}
}

.main {
	grid-area: main;
	padding: 1rem;
	width: 80%;
	@media (max-width: 36rem) {
		order: 1;
	}
}

.aside {
	grid-area: sidebar;
	padding: 1rem;
	margin: 20px;
	background-color: #eee;
	border-right: 1px solid #ccc;
	@media (max-width: 36rem) {
		order: 3;
		border-right: 0;
		border-top: 1px solid #ccc;
	}
}
.flex-container {
	display: flex;
}

.list{
	float: right;
	position: relative;
	bottom: 2px;
	left: 170px;
}

// Setup
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 18px;
	font-family: Georgia, Arial, sans-serif;
	background-image: url("display.jpg");
   	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
	background-size: 100% 100%;	 

}

